numpy==1.26.4
matplotlib
scipy
tensorboardX
einops>=0.4
tqdm
isort
black
einops-exts
rotary-embedding-torch
sacremoses
sentencepiece
huggingface-hub
transformers
imageio
opencv-python
scikit-image
tomni